<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
This website is a prototype web application for the open-source literature mining tool (<a href="https://github.com/UVM-BIRD/PubMedMiner">PubMedMiner</a>) for identifying, exploring, and visualizing MeSH-based associations in MEDLINE. PubMedMiner was developed by Chen Lab at UVM.
</p>

