<% provide(:title, 'Result') %>
<h1>Search Results</h1>
<h2>Sign up to save search history</h2>
<div class="query" style="text-align: center; font-size: 1.7em">
  <a href="<%= @pubmed_search.pubmed_link %>"><%= @pubmed_search.query %></a>
</div>
