<footer class="footer">
  <small>
    <a href="https://github.com/UVM-BIRD/PubMedMiner">PubMedMiner</a>
    by Angie Zhang, Chen Lab at UVM
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.facebook.com/angie.yucanzhang">Facebook</a></li>
      <li><a href="https://www.linkedin.com/in/yucanzhang">LinkedIn</a>
      <li><a href="https://twitter.com/yucanzhang">Twitter</a>
    </ul>
  </nav>
</footer>
